.site-top p{
    color:  white;
    text-align: center;
    font-size: x-large;
}

.site-content {
    align-items: center;
}

.blocs_projet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgb(206, 206, 206),rgb(206, 206, 206));
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    transition: border 2.5s ease-out;
    max-width: 35%;
}

/*Style qui s'applique au niveau de l'image*/
.presentation {
    text-align: center;
}

.presentation img {
    margin: 1%;
    border-radius: 10px;
    width: 50%;
}

/*Style qui s'applqiue à la description*/
.description {
    margin: 1%;
}

/*Style qui s'applique aux Objectifs*/
.objectifs {
    margin: 1%;
}

.objectifs  ul {
    margin-left: 5%;
}

/*Style qui s'applique aux Compétences*/
.competences {
    margin: 1%;
}

.competences ul {
    margin-left: 5%;
}

/*Style qui s'applique à resultat*/
.resultat {
    margin: 1%;
}
/*Style qui s'applique aux buttons*/

.bouton {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

button {
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(120, 120, 120);
    transition: background-color 1s ease;
}

button a {
    color: white;
    transition: color 0.5s ease;
}

button:hover {
    background-color: rgb(190, 190, 190);
    transition: background-color 0.5s ease;

}

button a:hover {
    color: black;
    transition: color 0.25s ease;
}

@media (min-width: 1201px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 10%;
        height: 30%;
        margin-bottom: 10%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 6%;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 10%;
        height: 30%;
        margin-bottom: 15%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 6%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 5%;
        height: 25%;
        margin-bottom: 20%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 6%;
    }
}

@media (max-width: 600px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 5%;
        height: 30%;
        margin-bottom: 15%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 6%;
    }
}
