.site-top p{
    color:  white;
    text-align: center;
    font-size: x-large;
    transition: color 1.5s ease;
}

.site-content #titre{
    align-items: center;
    margin-right: auto; 
    margin-left: auto;
    text-align: center;
    color: rgb(206, 206, 206);
    transition: color 1.5s ease;
}

.site-content #titre:hover {
    color: red;
    transition: color 0.75s ease;
}

/*Primaires*/
.primaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

/*Ferdinand Buisson*/
.ferdinand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: rgb(130, 130, 130);
    border: 2px solid black;
    border-radius: 10px;

}

.ferdinand p {
    padding: 1%;
    font-size: x-large;
    background-color: rgb(230, 230, 230);
    border: 2px solid black;
    border-radius: 10px;
    
}

.ferdinand img {
    max-width: 50%;
    min-width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    border: 1px solid black;
}
    

/*Immaculée*/
.immaculee{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    background-color: rgb(130, 130, 130);
    border: 2px solid black;
    border-radius: 10px;
}

.immaculee p {
    padding: 1%;
    font-size: x-large;
    background-color: rgb(230, 230, 230);
    border: 2px solid black;
    border-radius: 10px;
}

.immaculee img {
    max-width: 50%;
    min-width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    border: 1px solid black;
}

/*College*/
.college {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    background-color: rgb(130, 130, 130);
    border: 2px solid black;
    border-radius: 10px;
}

.college p {
    padding: 1%;
    font-size: x-large;
    background-color: rgb(230, 230, 230);
    border: 2px solid black;
    border-radius: 10px;
}

.college img{
    max-width: 75%;
    min-width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    border: 1px solid black;
}

/*Lycée*/
.lycee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    gap: 15%;
    background-color: rgb(130, 130, 130);
    border: 2px solid black;
    border-radius: 10px;
}

.lycee p {
    padding: 1%;
    font-size: x-large;
    background-color: rgb(230, 230, 230);
    border: 2px solid black;
    border-radius: 10px;
}

.lycee img {
    max-width: 140%;
    min-width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    border: 1px solid black;
}

/*Université*/
.ulco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    gap: 20%;
    background-color: rgb(130, 130, 130);
    border: 2px solid black;
    border-radius: 10px;
}

.ulco p {
    padding: 1%;
    font-size: x-large;
    background-color: rgb(230, 230, 230);
    border: 2px solid black;
    border-radius: 10px;
}

.ulco img {
    max-width: 175%;
    min-width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    border: 1px solid black;
}

@media (min-width: 1201px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 2%;
        margin-bottom: 15%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 4%;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 2%;
        margin-bottom: 20%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 4%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .site-top {
        height: 4%;
    }

    .site-content {
        margin-top: 2%;
        margin-bottom: 25%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 4%;
    }
}

@media (max-width: 600px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 2%;
        margin-bottom: 35%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 4%;
    }
}
