/*Style qui s'applique au caractères*/
.texte {
    font-size: x-large;
}

/*tyle qui s'applique sur les listes*/
.liste {
    padding-left: 10%;
}

/*Style qui s'applique sur les blocs*/
.blocs {
    background-image: linear-gradient(rgb(206, 206, 206),rgb(206, 206, 206));
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    transition: border 2.5s ease-out;
}

.blocs:hover{
    border: 3px solid rgb(206, 206, 206);
    transition: border 1.25s ease-out;
}

/*Style qui s'applique sur la sélection des pages*/

.links {
    width: 97%;
}

.links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links li {
    list-style-type: none;
    padding: 1.5%;
}

.links a {
    text-decoration: none;
    color:  white;
    font-size: 128%;
    cursor: pointer;
    background-image: linear-gradient(red, white);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: color 2s ease, background 1.5s ease;
}

.links a:hover{
    background-size: 100% 0.15em;
    background-image: linear-gradient(red, red);
    color: red;
    transition: color 1s ease, background 0.75s ease;
}

.links a:active {
    color: darkred;
    background-image: linear-gradient(darkred, darkred);
    transition: color 1s ease, backgraound 0.75s ease;
}