.site-content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    list-style-type: none;
}

.site-top p{
    color:  white;
    text-align: center;
    font-size: x-large;
}


.site-content img {
    width: 50px;
}

.liste {
    padding: 2px;
}

form {
    display: flex;
    flex-direction: column;
    flex: wrap;
}

input {
    border: 1px solid black;
    padding: 1px;
    background-color: rgb(245, 245, 245);
    transition: border 0.5s ease, background-color 0.5s ease;
}   

input:focus {
    border: 3px solid black;
    background-color: rgb(206, 206, 206);
    transition: border 0.25s ease, background-color 0.25s ease;
}

button {
    background-color: white;
    padding: 2px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

button:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transition: background-color 0.25s ease, color 0.25s ease;
}

button:active {
    background-color: rgb(48, 48, 48);
    transition: background-color 0.25s ease;
}

fieldset {
    padding: 1px;
}

textarea{
    padding: 2px;
    border: 2px solid black;
    background-color: rgb(245, 245, 245);
    transition: border 0.5s ease, background-color 0.5s ease;
}

textarea:focus {
    border: 3px solid black;
    background-color: rgb(206, 206, 206);
    transition: border 0.25s ease, background-color 0.25s ease;
}