.site-content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    list-style-type: none;
}

.site-top p{
    color:  white;
    text-align: center;
    font-size: x-large;
}


.site-content img {
    width: 50px;
}

.liste {
    padding: 2px;
}

form {
    display: flex;
    flex-direction: column;
    flex: wrap;
}

input {
    border: 1px solid black;
    padding: 1px;
    background-color: rgb(245, 245, 245);
    transition: border 0.5s ease, background-color 0.5s ease;
}   

input:focus {
    border: 3px solid black;
    background-color: rgb(206, 206, 206);
    transition: border 0.25s ease, background-color 0.25s ease;
}

.bouton {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

button {
    background-color: white;
    padding: 2px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

button:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.2);
    transition: background-color 0.25s ease, color 0.25s ease, transform 0.25s ease;
}

button:active {
    background-color: rgb(48, 48, 48);
    transition: background-color 0.25s ease;
}

fieldset {
    padding: 1px;
}

textarea{
    padding: 2px;
    border: 2px solid black;
    background-color: rgb(246, 246, 246);
    opacity: 0.5;
    transition: border 0.5s ease, opacity 0.5s ease;
}

textarea:focus {
    border: 3px solid black;
    background-color: rgb(246, 246, 246);
    opacity: 1;
    transition: border 0.25s ease, opacity 0.25s ease;
}

@media (min-width: 1201px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 2%;
        margin-bottom: 10%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 5%;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 2%;
        margin-bottom: 10%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 5%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 2%;
        margin-bottom: 14%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 5%;
    }
}

@media (max-width: 600px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 2%;
        margin-bottom: 17%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 5%;
    }
}
