/*Style qui s'applique au header*/
.site-top p{
    color:  white;
    text-align: center;
    font-size: x-large;
}

/*Style dans le main*/
.site-content h1{
    text-align: center;
}

.site-content h2 {
    padding-left: 20px;
}

.semestre_1 {
    display: grid;
    height: auto;
    align-content: center;
    gap: 10px;
    grid-template-areas:
    "motus azul web";
}

.interne_grille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Style qui s'applique au bloc de motus*/
.motus img {
    max-width: 50%;
    border-radius: 20px;
    border: 1px solid black;
    transition: width 1s ease;
}

/*Style qui s'applique au bloc du azul*/
.azul img {
    max-width: 50%;
    border-radius: 20px;
    border: 1px solid black;
}

/*Style qui s'applique au bloc Portfolio*/
.web img {
    max-width: 50%;
    border-radius: 20px;
    border: 1px solid black;
}

/*Style qui s'applique à l'intérieur des blocs*/
.interne_grille p {
    font-size: x-large;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5%;
    background-color: white;
}

.blocs {
    transform: scale(0.8);
}

.blocs:hover {
    transform: scale(1);
}

@media (min-width: 1201px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 2%;
        height: 30%;
        margin-bottom: 15%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 9%;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 2%;
        height: 30%;
        margin-bottom: 12%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 10%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .site-top {
        height: 5%;
    }

    .site-content {
        margin-top: 2%;
        height: 30%;
        margin-bottom: 16%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 10%;
    }
}

@media (max-width: 600px) {
    .site-top {
        height: 10%;
    }

    .site-content {
        margin-top: 2%;
        height: 30%;
        margin-bottom: 30%;
        margin-left: 0;
        margin-right: 0;
    }

    .site-bottom {
        height: 10%;
    }
}