:root  {
    --couleur-titre: white;

    /*header*/
    --fond-header: linear-gradient(rgb(28, 28, 28),rgb(68, 68, 68)) ;

    /*body*/
    --fond-body: linear-gradient(rgb(68,68,68 ),rgb(237, 237, 237), rgb(68,68,68));

    /*footer*/
    --fond-footer: linear-gradient(rgb(68, 68, 68), rgb(28, 28, 28));

    /*intro*/
    --fond-intro: linear-gradient(rgb(200, 200, 200), rgb(150, 150, 150));


    /*blocs*/
    --fond-blocs: linear-gradient(rgb(206, 206, 206),rgb(206, 206, 206));
}